main{ p {
    background-color: rgb(229, 234, 238);
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;}}


 
main{ div{background-color: rgb(229, 234, 238);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
        h5{
            text-align: center;
            color: dimgrey;
           
        }
    }
.ig{ text-align: center;}
padding-top: 5px;
padding-bottom: 10px;}
